{% extends 'base.html.twig' %}

{% block title %}Hello AdminBookControlerController!{% endblock %}

{% block body %}
<div>
<h1>tout les livres</h1>
    {{ dump(books) }}
</div>
<div>
<h1>Livre dont l'id est 1</h1>
<pre>
    {{ dump(book1) }}
</pre>

</div>
<div>
<h1>Livre contenant le mot clé "Lorem"</h1>
<pre>
    {{ dump(booksLorem) }}
</pre>

</div>
<div>
<h1>Livre par l'auteur 1</h1>
<pre>
    {{ dump(booksByA) }}
</pre>

</div>

<div>
<h1>Livre dont le genre contient "roman"</h1>
{% for roman in romans %}
{% set counter = ( counter | default(-1) ) + 1 %}
<div>
<h1>{{roman.nom}}</h1>
<pre>
    {{ dump(genres[counter]) }}
</pre>
</div>
    
{% endfor %}
</div>
{% endblock %}
