{% extends 'base.html.twig' %}

{% block title %}Administation des emprunts{% endblock %}

{% block body %}
        <a class='btn btn-primary' href="{{ path('app_admin_emprunt_new') }}">Enregistrer un nouvel emprunt</a>
<ul>
{% for emprunt in emprunts %}
    <li><a href='{{path('app_admin_emprunt_show',{"id":emprunt.id})}}'>{{emprunt.book.title}}</a> Emprunté par {{emprunt.emprunteur.nom}} {{emprunt.emprunteur.prenom}} </li>
{% if emprunt.dateRetour == null %}
<li>Non rendu</li>
{% else %}
   <li>rendu le {{emprunt.dateRetour|date('d-m-Y')}}</li> 
{% endif %}
{% endfor %}
</ul>
{% endblock %}
